clear - очистить терминал
ctrl + l - аналог clear на горячих клавишах
ctrl + c - прервать операцию в терминале

git init - инициализировать новый гит репозиторий в текущей папке
git add . - проиндексировать все файлы
git add <имя файла> - проиндексировать один файл
git commit -m "<текст коммита>" - сделать коммит (сохранить текущую версию кода )